.App {
  display: flex;
  justify-content: center;
  
}
label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

.form-control {
   margin-bottom: 10px;
}

.error{
  color: red;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
